{% extends 'rhino/base.html' %}
{% load static %}
{% block content %}
      <!-- end banner -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Our Expert Staff</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- staff -->
      <div class="staff_main">
         <div class="container_staff">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>There are many variations of passages of Lorem Ipsum available, but the </span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static 'rhino/images/man.png' %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Available</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static 'rhino/images/man.png' %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Available</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static 'rhino/images/man.png' %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Available</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static 'rhino/images/man.png' %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Available</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="{% static 'rhino/Javascript:void(0)' %}"> See More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end staff -->
      {% endblock %}